:root {
	--base00: #000011;
	--base01: #222233;
	/*--base02: #383838;*/
	--base03: #767586;
	--base04: #787586;
	--base05: #efedff;
	--base06: #e8e8e8;
	--base07: #f8f8f8;
	--base08: #fd0100;
	--base09: #dc9656;
	--base0A: #ccee33;
	--base0B: #008000;
	--base0C: #F9F7FF;
	--base0D: #EFEDFF;
	--base0E: #ba8baf;
	--base0F: #a16946;
}
